ENV=your_value_here
LOG_LEVEL=your_value_here

ORACLE_ERP_URL=your_value_here

MASTER_DB_HOST=your_value_here
MASTER_DB_PORT=your_value_here
MASTER_DB_NAME=your_value_here
MASTER_DB_USER=your_value_here
MASTER_DB_PASSWORD=your_value_here

DEFAULT_BROWSER=your_value_here
BROWSER_HEADLESS=your_value_here
BROWSER_SLOW_MO=your_value_here
BROWSER_TIMEOUT=your_value_here
BROWSER_VIEWPORT_WIDTH=your_value_here
BROWSER_VIEWPORT_HEIGHT=your_value_here
CHROME_CDP_PORT=your_value_here

ENCRYPTION_KEY=your_value_here
SERVICE_PORT=your_value_here

RECORDING_SERVICE_URL=your_value_here